@using TiendaProducto_Server.Modelo;


<div class="bg-light border p-2 col-5 offset-1">
    <h4 class="text-secondary">Libro: @libro.Id</h4>
    @libro.NombreLibro<br />
    @libro.Precio.ToString("c")<br />
    <input type="checkbox" @bind-value="libro.Agotado" checked="@(libro.Agotado ? "checked":null)" />Esta Agotado <br />
    <span>
        Este libro esta: @(libro.Agotado ? "Agotado":"Disponible")
    </span>
    @if (!libro.Agotado)
    {
        @foreach (var tipoLibro in libro.LibroTipo)
        {

            <p>@tipoLibro.Nombre - @tipoLibro.Valor</p>
        }
    }

    <EditaEliminaButton EsAdmin="true">

    </EditaEliminaButton>
</div>

@code {
    [Parameter]
    public LibroBlazor libro { get; set; }
}
